@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Amarante');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './MaterialDesignOverrides.css';

.app {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;

  background: url('/img/header-bg.jpg') fixed no-repeat;
  background-size: cover;

  font-family: 'Roboto', sans-serif;
}

.site-settings-menu {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 300px;

    color: #fff;
    text-shadow: 2px 1px 1px #000;
    text-align: right;
    cursor: pointer;
}
