@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.pageHeader {
  text-align: left;
  padding: 0 1em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

h1, h2, h3 {
  padding: 0 1em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

h2 {
  font-size: 100%;
}

.App {
  text-align: center;
}

.add-new-date {
  position: fixed !important;
  right: 1em;
  bottom: 1em;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.mdl-data-table {
  margin: 0 auto;
  cursor: pointer;
}