@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Amarante');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './MaterialDesignOverrides.css';

.app {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;

  background: url('/img/header-bg.jpg') fixed no-repeat;
  background-size: cover;

  font-family: 'Roboto', sans-serif;
}

.app h1, .app h2, .app h3 {
  padding: 0 1em;

  font-family: 'Amarante', cursive !important; /* Sorry */
  font-size: 300%;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
}

.app h2, .app h3 {
  font-size: 200%;
}

@media (min-width: 600px) {
  .app h1 {
    font-size: 400%;
    text-align: left;
  }
}