.CreatePlaceDate {
    background: rgba(255,255,255,.7);
    padding: 1em;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.DateListList {
    background: rgba(255,255,255,.7);
}

.date-place-logo {
    max-width: 250px;
    max-height: 100px;
}

.mdl-list__item {
    padding: 8px 0;
    border-bottom: 1px rgba(0,0,0,.1) solid;
    cursor: pointer;
}

.mdl-textfield {
    width: 100%;
}

.create-place-logo {
    padding-right: 10px;
}

.create-date-switch {
    width: 120px;
    float: left;
}

.mdl-button {
    margin: 10px;
}

.add-new-place-button {
    float: right;
}

.date-operation-column {
    text-align: right;
}

.date-operation-column button {
    float: right;
    clear: both;
    width: 100%;
}

.date-delete-button {
    float: right;
    clear: both;
    width: 100%;
    padding-right: 4px;
}

.mdl-textfield__label {
    text-shadow: none;
}

.DateListList td:nth-child(1) {
    text-align: center;
}

.DateListList td:nth-child(2) {
    font-weight: bold;
    font-size: 140%;
}