.CreatePlaceDate {
    background: rgba(255,255,255,.5);
    padding: 1em;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.date-place-logo {
    width: 100px;
    height: 100px;
}

.mdl-list__item {
    padding: 8px 0;
    border-bottom: 1px rgba(0,0,0,.1) solid;
    cursor: pointer;
}

.mdl-textfield {
    width: 100%;
}

.create-place-logo {
    padding-right: 10px;
}

.create-date-switch {
    width: 120px;
    float: left;
}

.mdl-button {
    margin: 10px;
}

.add-new-place-button {
    float: right;
}