.place-list-item {
    padding: 8px 0;
    border-bottom: 1px rgba(0,0,0,.1) solid;
    cursor: pointer;
}

.place-delete-icon {
    display: inline-block;

    padding-top: 20px;
    padding-right: 6px;

    color: #000;
}

.place-logo-container {
    float: left;
    width: 260px;
    padding: 1em 0;
    text-align: center;
}

.place-name-container {
    float: left;
    padding-top: 2.5em;
    font-size: 140%;
}

.place-logo {
    max-width: 250px;
    max-height: 100px;
}
