.user-list {
    position: absolute;
    top: -1em;
    right: 1em;
    width: 300px;

    color: #fff;
    text-shadow: 2px 1px 1px #000;
    text-align: right;
    cursor: pointer;
}

.user-edit-container {
    position: absolute;
    top: 0;
    right: 10%;

    color: #000;
    background: rgba(255,255,255,.7);
    padding: .5em;
    text-shadow: 2px 1px 1px #000;
    cursor: pointer;
}

.user-edit-container .mdl-textfield {
    float: left;
    width: 60%;
}

.user-edit-container button {
    float: left;
}

@media (min-width: 600px) {
  .user-list {
    top: 0;
    right: 2em;
  }
}