.user-list {
    position: absolute;
    top: 0;
    right: 2em;
    width: 300px;

    color: #fff;
    text-shadow: 2px 1px 1px #000;
    text-align: right;
}

.user-edit-container {
    position: absolute;
    top: 0;
    right: 2em;

    color: #fff;
    text-shadow: 2px 1px 1px #000;
    cursor: pointer;
}

.user-edit-container .mdl-textfield {
    float: left;
    width: 60%;
}

.user-edit-container button {
    float: left;
}
